@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo para la imagen */
.zoom-img {
    transition: transform 0.3s ease; /* Transición suave */
  }
  
  /* Efecto de zoom al pasar el cursor */
  .zoom-img:hover {
    transform: scale(1.2); /* Aumenta el tamaño al 120% */
  }

  .custom-position {
    position: absolute;
    top: 700px; /* Ajusta este valor según sea necesario */
    left: 65%; /*s Ajusta este valor según sea necesario */
  }